<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/loading.css">
</head>
<body>
<section>
    <article class="main-container">
        <div class="main-header">
            <div class="main-body">
                <div class="animated fadeInRight">
                    <div class="body-row">
                        <div class="occupy-100">
                            <div class="padding-area-15">
                                <div class="item-box activate">
                                    <div class="item-box-title">
                                        <p id="diary-title"></p>
                                        <ul id="form-diary-head">
                                            <li><a class="btn-hide"><img src="/images/arrow_up.svg"></a></li>
                                            <li><a class="head-button" id="need-auth">권한 필요</a></li>
                                            <li>
                                                <div class="dialog" data-visible="false">
                                                    <input type="text" id="input-authCode" placeholder="code">
                                                    <a class="head-button" id="btn-input">input</a>
                                                </div>
                                                <a class="head-button" id="btn-auth">권한 부여</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="item-box-content" data-activate="true">
                                        <div class="body-row" id="form-diary-content">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body-row">
                        <div class="occupy-100">
                            <div class="body-row">
                                <div class="occupy-33">
                                    <div class="padding-area-15">
                                        <div class="item-box activate">
                                            <div class="item-box-title">
                                                <p>Naver Email</p>
                                                <ul id="form-diary-head">
                                                    <li><a class="btn-hide"><img src="/images/arrow_up.svg"></a></li>
                                                </ul>
                                            </div>
                                            <div class="item-box-content" id="naver-email-item-box" data-activate="true" data-id="naver">
                                                <div class="loading-container" id="naver-email-loading">
                                                    <div id="loading"></div>
                                                    <div id="loading-text">Loading</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="occupy-33">
                                    <div class="padding-area-15">
                                        <div class="item-box activate">
                                            <div class="item-box-title">
                                                <p>Google Email</p>
                                                <ul id="form-diary-head">
                                                    <li><a class="btn-hide"><img src="/images/arrow_up.svg"></a></li>
                                                </ul>
                                            </div>
                                            <div class="item-box-content" id="google-email-item-box" data-activate="true" data-id="google">
                                                <div class="loading-container" id="google-email-loading">
                                                    <div id="loading"></div>
                                                    <div id="loading-text">Loading</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="occupy-33">
                                    <div class="padding-area-15">
                                        <div class="item-box activate">
                                            <div class="item-box-title">
                                                <p>Kaist Email</p>
                                                <ul id="form-diary-head">
                                                    <li><a class="btn-hide"><img src="/images/arrow_up.svg"></a></li>
                                                </ul>
                                            </div>
                                            <div class="item-box-content" id="kaist-email-item-box" data-activate="true" data-id="kaist">
                                                <div class="loading-container" id="kaist-email-loading">
                                                    <div id="loading"></div>
                                                    <div id="loading-text">Loading</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<footer></footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
<script>
    $(document).ready(function() {
        let auth = false, url;
        $.ajax({
            type: "GET",
            url: "/schedule",
            success: function(data) {
                if(!(auth = data.auth)) {
                    url = data.url;
                    $("#need-auth").css('display', "inline-block");
                    $("#btn-auth").css('display', "inline-block");
                }
                mark_today(data.schedule);
            }
        });

        $.ajax({
            type: "GET",
            url: "/naverEmail",
            success: function(data) {
                $("#naver-email-loading").css("display", "none");
                showMessageList("naver", data.list);
            }
        });

        $.ajax({
            type: "GET",
            url: "/googleEmail",
            success: function(data) {
                $("#google-email-loading").css("display", "none");
                showMessageList("google", data.list);
            }
        });

        $.ajax({
            type: "GET",
            url: "/kaistEmail",
            success: function(data) {
                $("#kaist-email-loading").css("display", "none");
                showMessageList("kaist", data.list);
            }
        });

        $("#need-auth").on('click', function() {
            $(location).attr('href', url);
        });

        $("#btn-auth").on('click', function() {
            const dialog = $(this).prev();
            if(dialog.attr('data-visible') === 'false') {
                dialog.css('display', 'block');
                dialog.attr('data-visible', 'true');
            } else {
                dialog.css('display', 'none');
                dialog.attr('data-visible', 'false');
            }
        });

        $("#btn-input").on('click', function() {
            const code = $("#input-authCode").val();
            if(!checkBlock(code)) {
                $.ajax({
                    type: "POST",
                    url: "/authCode",
                    data: "code="+code,
                });
            }
        });

        $(".btn-hide").on('click', function() {
            const item_box = $(this).parent().parent().parent().next();
            const icon = $(this).find('img');
            if (item_box.attr('data-activate') === "true") {
                icon.attr('src', '/images/arrow_down.svg');
                item_slidUp(item_box);
            } else if(item_box.attr('data-activate') === 'false') {
                icon.attr('src', '/images/arrow_up.svg');
                item_slidDown(item_box);
            }
        });

        function item_slidUp(obj) {
            obj.parent().removeClass('activate');
            obj.slideUp(250, function() {
                obj.attr('data-activate', 'false');
            });
        }

        function item_slidDown(obj) {
            obj.parent().addClass('activate');
            obj.slideDown(250, function () {
                obj.attr('data-activate', 'true');
            });
        }

        // Fill Message Box
        function showMessageList(emailServer, messageList) {
            let obj;
            if(emailServer === "naver") {
                obj = $("#naver-email-item-box");
            } else if(emailServer === "google") {
                obj = $("#google-email-item-box");
            } else if(emailServer === "kaist") {
                obj = $("#kaist-email-item-box");
            }

            if(obj !== undefined && messageList !== undefined && messageList !== null) {
                for(let cnt=0;cnt<messageList.length;cnt++) {
                    const emailData = messageList[cnt];
                    const date = moment(emailData.date);
                    const html = '<div class="form-message-box" data-id="'+ cnt +'">' +
                        '<p>' + emailData.subject + '</p>' +
                        '<div class="mail-sign" data-read="' + emailData.attr.isRead + '">New</div>'+
                        '<div class="form-date-from">' +
                        '<small id="datetime-text">'+ message_date(date) + (date.format(" hh:mm a - YYYY.MM.DD")) +'</small>' +
                        '<small id="from-text"> from ' + emailData.from + '</small>' +
                        '</div>' +
                        '</div>';
                    obj.append(html);
                }
            } else {
                const html = '<div class="form-message-box">' +
                    '<p> No Email </p>' +
                    '<div>';
                obj.html(html);
            }

            $(".form-message-box").on('click', function() {
                let urlPath = "/detail";
                const select = this.dataset.id;
                const site = $(this).parent().attr('data-id');
                if(site === "naver") {
                    urlPath += "/naverEmail/";
                } else if(site === "google") {
                    urlPath += "/googleEmail/";
                } else if(site === "kaist") {
                    urlPath += "/kaistEmail/";
                }
                $(location).attr('href', urlPath+select);
            });
        }

        function message_date(date) {
            const dateStr = moment(date).fromNow();
            if(dateStr === "a day ago")
                return "yesterday";
            return dateStr;
        }

        function mark_today(schedule) {
            const today = moment();
            $("#diary-title").text("This Week " + today.format('(MM월)'));
            const day_of_the_week = moment().startOf('week');
            for(let d=0; d<7; d++) {
                let html = '<div class="diary occupy-14" id="' + day_of_the_week.add(1, 'day').format('ddd') + '">' +
                    '<div class="diary-padding">';

                if((Math.floor(moment.duration(today.diff(day_of_the_week)).asDays())) === 0) {
                    html += '<div class="form-diary-date" id="today">' + day_of_the_week.format('dddd (D)')+ '</div>';
                } else {
                    html += '<div class="form-diary-date">' + day_of_the_week.format('dddd (D)')+ '</div>' ;
                }
                html += '<div class="form-diary-schedule" id="' + day_of_the_week.format('YYYY-MM-DD') + '"></div>'+ '</div>' + '</div>';
                $("#form-diary-content").append(html);
            }

            if(schedule) {
                for(let i=0;i<schedule.length;i++) {
                    const date = moment(schedule[i].date).format('YYYY-MM-DD');
                    const html = '<small class="content">' + schedule[i].content + '</small>';
                    $('#'+date).append(html);
                }
            }
        }

        function checkBlock(obj) {
            const blank_pattern_1 = /^\s+|\s+$/g;
            return (obj === "" || obj == null) || obj.replace(blank_pattern_1, "") === "";
        }
    });
</script>
</body>
</html>